body{
  margin: 0;
  padding: 0;
}

#navbar{
  background-image: url("../assets/img/navbar_background.jpg");
  text-align: right;
  background-color: #1B1C1C;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid #FDB536;

}

#navbar li{
  display: inline-block;
  padding: 10px 5px;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

#navbar a{
  display: block;
  position: relative;
  top: 15px;
  font-size: 18px;
  padding-right:  40px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

#navbar a:hover{
  color: #FDB536;
}

#navbar_logo{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  float: left;
  left: 40px;
  font-size: 20px;
  position: relative;
  padding: 5px 5px;
}

#login-succeed {   font-family: 'Roboto', sans-serif;   text-align: center;
color: black;   padding-top: 100px; }

#contact-form {
  text-align: center;
}
