body{
  background-image: linear-gradient(-12deg, #036ded 19%,#5bd6dd 81%);
  background-size: 100% 1440px;
  margin: 0;
  padding: 0;
}

#section_1{
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 450px;
  margin: 100px;
}

#login-succeed {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;   padding-top: 100px;
}

#contact-form {
  text-align: center;
}
